In [ ]:
# 1271번 엄청난 부자2

n, m = map(int, input().split()) # n = 가진 돈, m = 생명체 수

a = n%m # 나머지
b = n//m
print(b); print(a)

1000 100
10
0

In [ ]:
i = 0 
result_even = 0

while i < 100:
    i = i + 1
    if i % 2 != 0:
        result_even = result_even + i
print(result_even)

2500

In [ ]:
food = int(input('어떤 음식을 먹고 싶나요(1: 피자, 2: 햄버거, 3: 스파게티, 4: 치맥)? '))

if food == 1:
    print('피자')
elif food == 2:
    print('햄버거')
elif food == 3:
    print('스파게티')
elif food == 4:
    print('치맥')

어떤 음식을 먹고 싶나요(1: 피자, 2: 햄버거, 3: 스파게티, 4: 치맥)? 4
치맥

In [ ]:
# 1550번 16진수 -> 10진수
a = str(input())

a = int(a,16)
print(a)

ABC
2748

In [ ]:
# 2338번 긴자리 계산

a = int(input())
b = int(input())

print(a+b)
print(a-b)
print(a*b)

1
-1
0
2
-1

In [ ]:
# 2475번 검증수

def calculation(a1, a2, a3, a4, a5):
    a1 = a1**2
    a2 = a2**2
    a3 = a3**2
    a4 = a4**2
    a5 = a5**2
    calcul = a1 + a2 + a3 + a4 + a5
    result = calcul%10
    return result
    
a1, a2, a3, a4, a5 = map(int, input().split())
result = calculation(a1, a2, a3, a4, a5)
print(result)

0 4 2 5 6
1

In [ ]:
# 2558번 A+B - 2

a = int(input())
b = int(input())

if 0 < a and b < 10:
    print(a+b)

1
2
3

In [ ]:
# 2845번 파티가 끝나고 난 뒤

L, P = map(int, input().split()) # L = 1m^2당 사람수, P = 공간 넓이
a1, a2, a3, a4, a5 = map(int, input().split())
li = [a1, a2, a3, a4, a5]

if 1 <= L <= 10 and 1 <= P <= 1000:
    person = L * P
    
    result_li = []
    for i in range(len(li)):
        result = li[i] - person
        result_li.append(result)
    for j in range(len(result_li)):
        print(result_li[j], end=' ')

5 20
99 101 1000 0 97
-1 1 900 -100 -3

In [ ]:
# 2914번 저작권
# x를 구하라
A, I = map(float, input().split()) # A 곡의 개수, I = 평균값, % x(저작권 멜로디 개수)/A = I

if 1 <= A and I <= 100:
    I = I - 1
    melody = A*I + 1
    print(int(melody))

10 10
91

In [ ]:
# 3003번 킹, 퀸, 룩, 비숍, 나이트, 폰

chees_li = [1, 1, 2, 2, 2, 8]

king, queen, rook, bishop, knight, pawn = map(int, input().split())
num_li = [king, queen, rook, bishop, knight, pawn]

for i in range(len(chees_li)):
    result = chees_li[i] - num_li[i]
    print(result, end=' ')

2 1 2 1 2 1
-1 0 0 1 0 7

In [ ]:
# 1010번 다리 놓기
import math

testcase = int(input())

i = 0
while True:
    i = i + 1
    if i > testcase:
        break

    n, m = map(int, input().split())
    if 0 < n <= m < 30:
        result = (math.factorial(m)//math.factorial(m-n)) // math.factorial(n)
        print(int(result))

1
18 25
480700

In [ ]:
# # 1018번 체스판 다시 칠하기

# N, M = map(int, input().split())

# i = 0
# while True:
#     i = i + 1
#     if i > N:
#         break
    
#     word = str(input()) # W = White, B = Black
#     # cnt = 0
#     # for i in range(len(word)-1):
#     #     if not word[i] == word[i+1]:
#     #         pass
#     #     else:
#     #         cnt += 1
#     # print(cnt)
#             # if word[i] == 'W':
#             #     word[i+1] = word[i]

8 8
WBWBWBWB
0
BWBWBWBW
0
WBWBWBWB
0
BWBBBWBW
2
d

In [ ]:
# 1018번 체스판 다시 칠하기

N, M = map(int, input().split()) # 8 <= N, M <= 50

if 1 <= N <= 50 and 1 <= M <= 50:
    i = 0
    while True:
        i = i + 1
        if i > N:
            break
        cnt = 0
        for a in range(N-(N-1)):
            for b in range(M-(M-1)):
                word = str(input())
                print("start : ", word[a][b])
                if word[a][b] == 'W':
                    for i in range(len(word)):
                        if word[i] == word[i+1] and word[i] == word[i+2]:

                            cnt += 1
                        print(word[i])
                        for j in range(0, len(word)):
                            # print(word[j][a])
                            a = 1
                    # cnt += 1
    print(cnt)

    # gg

1 1
WWWWW
start :  W
W
W
W

IndexError: ignored

In [ ]:
n, m = map(int, input().split())
l = []
mini = []

for _ in range(n):
    l.append(input())

for a in range(n - 7):
    for i in range(m - 7):
        idx1 = 0
        idx2 = 0
        for b in range(a, a + 8):
            for j in range(i, i + 8):              # 8X8 범위를 B와 W로 번갈아가면서 검사
                if (j + b)%2 == 0:
                    if l[b][j] != 'W': idx1 += 1  
                    if l[b][j] != 'B': idx2 += 1
                else :
                    if l[b][j] != 'B': idx1 += 1
                    if l[b][j] != 'W': idx2 += 1
        mini.append(idx1)                          # W로 시작했을 때 칠해야 할 부분
        mini.append(idx2)                          # B로 시작했을 때 칠해야 할 부분
 
print(min(mini))                                   # 칠해야 하는 개수의 최소값

1 1
WBWBWBWW

ValueError: ignored

In [ ]:
# 1037번 약수
# 양수 A가 N의 진짜 약수가 되려면, N이 A의 배수이고, A가 1과 N이 아니어야 한다.
# N이 A의 배수 = N % A == 0

N = int(input()) # N <= 50 진짜 약수의 개수

num = map(int, input().split())
num = sorted(num)

if N == 1:
    if not num == 0:
        print(num[0]**2)
else:
    result = num[0] * num[-1]
    print(result)

14
14 26456 2 28 13228 3307 7 23149 8 6614 46298 56 4 92596
185192

In [ ]:
# 2525번 오븐 시계

hour, minute = map(int, input().split()) # 현재 시각
time = int(input()) # 요리에 필요한 시간

if 0 <= hour <= 23 and 0 <= minute <= 59 and 0 <= time <= 1000:
    if minute + time >= 60:
        a, b = divmod(minute + time, 60)
        
        if hour + a >= 24:
            c, d = divmod(hour + a, 24)
            print(d, b)

        else:
            print(hour + a, b)

    else:
        print(hour, minute + time)

23 48
1000
16 28

In [ ]:
# 2480번 주사위 세개

a, b, c = map(int, input().split())

if 0 < a <= 6 and 0 < b <= 6 and 0 < c <= 6:
    if a == b == c: # 같은눈 3개
        reward1 = 10000 + (a*1000) ;print(reward1)

    elif a == b or b == c or a == c: # 같은눈 2개
        if a == b:
            reward2 = 1000  + (a*100) ;print(reward2)
        elif b == c:
            reward2 = 1000  + (b*100) ;print(reward2)
        elif a == c:
            reward2 = 1000  + (a*100) ;print(reward2)
    elif a != b != c != a: # 모두 다를 때
        if a > b > c or a > c > b:
            reward3 = a*100 ;print(reward3)
        if b > a > c or b > c > a:
            reward3 = b*100 ;print(reward3)
        if c > a > b or c > b > a:
            reward3 = c*100 ;print(reward3)

1 2 1
1100

In [ ]:
# 3046번 R2

R1, S = map(int, input().split())

if -1000 <= R1 <= 1000 and -1000 <= S <= 1000:
    R2 = (2*S) - R1
    print(R2)

4 3
2

In [ ]:
# 5522번 카드 게임

sum_li = []
for i in range(5):
    num = int(input())
    if 0 <= num <= 100:
        sum_li.append(num)
num_sum = sum(sum_li)
print(num_sum)

1
2
3
4
5
15

In [ ]:
# 5554번 심부름 가는 길

# 집 -> 학교 -> PC방 -> 학원 -> 집

li = []
for i in range(4):
    minutes = int(input())
    li.append(minutes)
x, y = divmod(sum(li), 60)
print(x)
print(y)

316
643
430
1253
44
2

In [ ]:
# 2920번 음계
a = list(map(int, input().split()))

if a == sorted(a):
    print('ascending')
elif a == sorted(a, reverse=True):
    print('descending')
else:
    print('mixed')

8 1 7 2 6 3 5 4
mixed

In [ ]:
# 1085번 직사각형에서 탈출

x, y, w, h = map(int, input().split())

print(min(w-x, h-y, x-0, y-0))

653 375 1000 1000
347

In [ ]:
a = 1.5//2 ; print(a)

0.0

In [ ]:
a = int(input())
b = int(input())

if 0 <= a <= 10**100:
    d = a//2 - b//2
    x = a - d 
    print(x)
    print(d)

10
2
6
4

In [ ]:
word = '''NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1'''
print(word)

NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1

In [ ]:
N, M, K = map(int, input().split())
a, b = divmod(K, M)
print(a, b)

6 4 14
3 2

In [ ]:
# 17256번 달달함이 넘쳐흘러

ax, ay, az = map(int, input().split())
cx, cy, cz = map(int, input().split())
arr = (cx - az, cy//ay, cz - ax)
print(arr[0], arr[1], arr[2])

15 16 17
19 32 90
2 2 75

In [ ]:
# a, b, c, d, e, f = list(map(int, input().split()))
n, m = map(int, input().split())
a = int(input())
b = int(input())
print(a*b)

0 0 0 23 3 100
630

In [ ]:
a, b, c = map(int, input().split())
if 50 <= a <= 200 and 50 <= b <= 200 and 50 <= c <= 200:
    C4, A3, A4, = 74.196, 124.74, 62.37
    result = a*2*C4 + b*2*A3 + c*A4
    print(round(result/1000, 7))
    # 120 90 70

120 90 70
44.62614

In [ ]:
x = ['ia', 'ew', 'a', 'ib', 'c']
y = sorted(x)
y

['a', 'c', 'ew', 'ia', 'ib']

In [ ]:
# 1181번 단어 정렬
# sort함수에 key 파라미터로 길이 순으로 정렬가능!!
N = int(input())

word_li = []
for i in range(N):
    word = str(input())
    word_li.append((len(word), word))

word_li = list(set(word_li))

word_li = sorted(word_li, key=lambda x: (x[0],x[1]))
for _, word in word_li:
    print(word)

3
i
im
p
i
p
im

In [ ]:
# 1259번 팰린드롬수

li = []
while True:
    word = str(input())
    if word == '0':
        break
        
    if 1 <= word <= 99999:
        li.append(word)

for i in li:
    if len(i)%2 == 0:
        if i[0] == i[-1] and i[1] == i[-2]:
            print("yes")
        else:
            print("no")
    else:
        if len(i) >= 3 and i[0] == i[-1] and i[1] == i[-2]:
            print("yes")
        else:
            print("no")

1
0
no

In [ ]:
# 1259번 팰린드롬수

while True:
    word = str(input())
    if word == '0':
        break
    
    if word == word[::-1]:
        print("yes")
    else:
        print("no")

121
yes
1231
no
0

In [ ]:
a = 5666
print('666' in str(a))

True

In [ ]:
# 1436번 영화감독 숌
n = int(input())

num = 666
cnt = 0

while True:
    if '666' in str(num):
        cnt += 1

    if n == cnt:
        print(num)
        break
    num +=1

500
166699

In [ ]:
# 1654번 랜선 자르기
k, n = map(int, input().split())

length = []
for _ in range(k):
    length.append(int(input()))

x, y = divmod(sum(length), n)
print(x, y)

4 11
802
743
457
539
231 0

In [ ]:
# 1297번 TV 크기
D, H, W = map(int, input().split())

a = ((D**2*H**2)/(H**2+W**2))**0.5
b = (W/H)*a

print(int(a), int(b))

7 2 3
3.882901373576604
3.882901373576604
3 5

In [ ]:
N, M = map(int, input().split())

result = abs(N-M)
print(result)

-2 5
7

In [ ]:
N = int(input())

if 1 <= N 
num_li = []
for i in range(N):
    word = int(input())
    num_li.append(word)

num_li.sort()
for num in num_li:
    print(num)

5
5
4
3
2
1
1
2
3
4
5

In [ ]:
# 2530번 인공지능 시계
hour, minute, time = map(int, input().split())
data = int(input())
if  (0 <= hour <= 23) and (0 <= minute <= 59) and (0 <= time <= 59) and (0 <= data <= 500,000):
    x, y = divmod(data, )







    # total = hour*3600 + minute*60 + time
    # total = total + data

    # x, y = divmod(total, 60)
    # a, b = divmod(x, 60)
    # if a == 24:
    #     print("0", b, y)
    # else:
    #     print(a, b, y)

14 30 0
200
0

In [ ]:
# 2530번 인공지능 시계

hour, minute, time= map(int, input().split()) # 현재 시각
data = int(input()) # 필요한 시간

if  (0 <= hour <= 23) and (0 <= minute <= 59) and (0 <= time <= 59) and (0 <= data <= 500,000):
    if time + data >= 60:
        a, b = divmod(time + data, 60)
        
        if minute + a >= 60:
            c, d = divmod(minute + a, 60)
            
            if hour+c >= 24:
                hour = (hour+c) - 24
                print(hour, d ,b)
            else:
                print(hour+c, d ,b)
        else:
            print(hour, minute+a, b)

17 40 45
6015
19 21 0

In [ ]:
# 2530번 인공지능 시계

hour, minute, time= map(int, input().split()) # 현재 시각
data = int(input()) # 필요한 시간

time += data
minute += time//60
hour += minute//60

time = time%60
minute = minute%60
hour = hour%24
print(hour, minute, time)

17 40 45
6015
19 21 0

In [ ]:
# 3004번 체스판 조각
a = int(input())

if a%2 == 0:
    print((a//2 + 1)*(a//2 + 1))
else:
    print((a//2 + 1)*(a//2 + 2))

7
20

In [ ]:
s = 3
m = 1
bool((s+m)%2)

False

In [ ]:
# 4299번 AFC 윔블던
# 축구경기 점수 계산
'''
입력 = 첫째 줄에 두 팀 점수의 합과 차가 빈 칸으로 구분되어 주어진다.
축구 점수는 항상 음이 아닌 정수이고, 합과 차는 1000보다 작거나 같은 음이 아닌 정수이다.
출력 = 첫째 줄에 두 팀의 경기 결과를 출력한다. 득점을 많이 한 쪽을 먼저 출력한다.
만약, 그러한 합과 차를 갖는 경기 결과가 없다면, -1을 출력한다.
'''

a, b = map(int, input().split()) # a=합, b=차

if a+b < 0 or a-b < 0 or (a+b)%2: # 축구경기 점수는 항상 양의 정수(소숫점,음수 x) 이므로
                                  # 음수가 나오거나 or 두 수의 합에 2로 나눴을때 나머지가 있으면(소숫점 이라는 뜻) -1 출력
    print('-1')
else:
    y = (a-b)//2 # 연립방정식으로 계산하면 나옴
    x = a-y
    print(max(x, y), min(x, y)) # 두 수중 높은 수 먼저 출력

3 1
2 1

In [ ]:
N = int(input())
li = []
for i in range(N):
    words = str(input())
    li.append(words)
for word in words:
    for i in range(len(words)):
        print(i)
# z_li = []
# for i in li:
#     for j in range(len(i)-1):
#         print(i[j+1])
#         # if i[j] != i[j+1]:
#         #     print(])

2
abc
abd
0
1
2
0
1
2
0
1
2

In [ ]:
# 5532번 방학 숙제
'''방학은 총 L일이다. 수학은 총 B페이지, 국어는 총 A페이지를 풀어야 한다.
상근이는 하루에 국어를 최대 C페이지, 수학을 최대 D페이지 풀 수 있다.
상근이가 겨울 방학동안 숙제를 하지 않고 놀 수 있는 최대 날의 수를
구하는 프로그램을 작성하시오.'''

L = int(input()) # 방학일수
A = int(input()) # 국어 총 페이지 수
B = int(input()) # 수학 총 페이지 수
C = int(input()) # [국어] 하루 최대 풀수있는 페이지
D = int(input()) # [수학] 하루 최대 풀수있는 페이지

if (A%C) == 0: # ex) 국어 24페이지를 하루 최대 6페이지를 풀수있다고 하면
               #     4일간 다 풀수있다.
    a = (A//C)
else: # ex) 국어 26페이지를 하루 최대 6페이지를 풀수있다고 하면
      #     4일 하고 2페이지가 남았기때문에 하루를 더 해야한다.
    a = (A//C) + 1 # 그래서 +1을 해준거임

if (B%D) == 0:
    b = (B//D)
else:
    b = B//D + 1

print(L - max(a,b))

15
32
48
4
6
8 8
7

'\n123456\n789101112\n131415161718\n19 20 21 22 23 24\n25\n'

In [ ]:
# 5543번 상근날드
'''
자신이 원하는 햄버거와 음료를 하나씩 골라, 세트로 구매하면,
가격의 합계에서 50원을 뺀 가격이 세트 메뉴의 가격이 된다.
햄버거는 총 3종류 상덕버거, 중덕버거, 하덕버거가 있고, 음료는 콜라와 사이다 두 종류가 있다.
햄버거와 음료의 가격이 주어졌을 때, 가장 싼 세트 메뉴의 가격을 출력하는 프로그램을 작성하시오.
입력은 총 다섯 줄이다. 첫째 줄에는 상덕버거, 둘째 줄에는 중덕버거, 셋째 줄에는 하덕버거의 가격이 주어진다.
넷째 줄에는 콜라의 가격, 다섯째 줄에는 사이다의 가격이 주어진다. 모든 가격은 100원 이상, 2000원 이하이다.
'''

burger = [] #벅어
drink = [] #드링끄

cnt = 0
for _ in range(5): # 종류가 5개 이니까 
    cnt += 1 #루프문 돌때마다 cnt + 1씩 ex) 1, 2, 3, 4, 5가 나옴
    if cnt < 4: # 3번째 루프문 까지 입력한 수는 벅어에 넣음
        burger.append(int(input()))
    else: # 4번째부터는 드링크
        drink.append(int(input()))

li = []
for i in burger: # 벅어 불러오기
    for j in drink: # 료수도 불러오기 벅어 3개 료수 2개니까 총 print 해보면 6줄이 나옴
        result = i + j # 첫번째 벅어 값 + 첫번째 음료 값 ex)1 벅어 + 1음료 -> 1 벅어 + 1음료 (3 벅어까지)
        li.append(result-50) # 결과값 출력
print(min(li)) # 가장 싼 값이라서 min

1999
1999
100
189
100
150

In [ ]:
# 5575번 타임 카드
'''
보안상의 이유로 직원들의 출근 시간은 7시 이후이다. 또한, 모든 직원은 23시 이전에 퇴근한다.
직원의 퇴근 시간은 항상 출근 시간보다 늦다.
입력으로 JOI 상사의 3 명의 직원 A 씨, B 씨, C 씨의 출근 시간과 퇴근 시간이
주어 졌을 때 각 직원의 근무시간을 계산하는 프로그램을 작성하라.

입력은 3 행으로 구성된다.
첫 번째 줄에는 A 씨의 출근 시간과 퇴근 시간,
두 번째 줄에는 B 씨의 출근 시간과 퇴근 시간,
세 번째 줄에는 C 씨의 출근 시간과 퇴근 시간이 각각 공백으로 구분되어 있다.
'''

i = 0
while True:
    a1, a2, a3, b1, b2, b3 = map(int, input().split())
#a1 a2 a3 = 출근시간 (a1시 a1분 a3초), b1 b2 b3 = 퇴근시간
    if b3-a3 >= 0: # 퇴-출 초끼리 뺏을때 양수면
        if b2-a2 >= 0 : # 또한 퇴-출 분끼리 뺏을때 양수면
            print(b1-a1, b2-a2, b3-a3) 
        else: # 퇴-출 분끼리 뺏을때 음수면
            b1 -= 1 # 퇴 시 -1
            b2 += 60 # 퇴 분 +60
            print(b1-a1, b2-a2, b3-a3)
    else: # 퇴-출 초끼리 뺏을때 음수면
        b3 += 60 # 퇴 분 + 60
        b2 -= 1 # 퇴 시 -1
        if b2-a2 >= 0: # 또한 퇴-출 분끼리 뺏을때 양수면
            print(b1-a1, b2-a2, b3-a3)
        else: # 음수면
            b1 -= 1 # 퇴 시 -1
            b2 += 60 # 퇴 분 +60
            print(b1-a1, b2-a2, b3-a3)

    i += 1
    if i > 2: # 3번 반복하면 
        break # 반복문 중단

9 0 0 18 0 0
9 0 0
9 0 1 18 0 0
8 59 59
12 14 52 12 15 30
0 0 38

In [ ]:
# 5596번 시험 점수
a = list(map(int, input().split()))
b = list(map(int, input().split()))
S, T = sum(a), sum(b)
if S == T:
    print(S)
else:
    print(max(S, T))

100 80 70 60
80 70 80 90
320

In [ ]:
# 5893번 17배
N = int(input())
N = int(str(N), 2)
N = N*17
answer = bin(N) ; print(answer[2:])

10110111
110000100111

In [ ]:
D, H, M = map(int, input().split())
temp = 11*60*24 + 11*60 + 11
temp2 = D*60*24 + H*60 + M

t = temp2 - temp
if t < 0:
    print('-1')
else:
    print(t)

12 13 14
1563

In [ ]:
#2164번 카드2
# 시간초과 뜸
# from collections import deque 을 사용하라는데 처음보는 모듈이라서 패스;;
n = int(input())
n_li = []
for i in range(1, n+1):
    n_li.append(i)

while True:
    
    del n_li[0]
    temp = n_li[0]
    
    n_li = n_li[1:]
    
    n_li.append(temp)
    
    if len(n_li) == 1:
        print(n_li[0])
        break

10
4

In [ ]:
# 10707번 수도요금

A = int(input())
B = int(input())
C = int(input())
D = int(input())
P = int(input())

x_company = P*A

if P <= C:
    y_company = B
else:
    y_company = B + ((P-C)*D)

print(min(x_company, y_company))

9
100
20
3
10
90

In [ ]:
# 10039번 평균 점수
'''
기말고사 점수가 40점 이상인 학생들은 그 점수 그대로 자신의 성적이 된다.
하지만, 40점 미만인 학생들은 보충학습을 듣는 조건을 수락하면 40점을 받게 된다.
보충학습은 거부할 수 없기 때문에, 40점 미만인 학생들은 항상 40점을 받게 된다.
학생 5명의 점수가 주어졌을 때, 평균 점수를 구하는 프로그램을 작성하시오.
'''
score_li = []
for i in range(5):
    score = int(input())
    if score >= 40:
        score_li.append(score)
    else:
        a = 40
        score_li.append(a)

score_mean = sum(score_li) // len(score_li)
print(score_mean)

10
65
100
30
95
68

In [ ]:
a = int(input())
b = int(input())
c = int(input())


if (a+b+c) == 180:
    if a != b and a != c and b != c:
        print("Scalene")
    elif a == b == c == 60:
        print("Equilateral")
    else:
        print("Isosceles")
else:
    print("Error")

# if (a+b+c) == 180:
#     if a != b != c:
#         print("Scalene")
#     elif (a != 60 and b != 60) and 180 - (a+b) == c or 180 - (a+c) == b or 180 - (b+c) == a:
#         print("Isosceles")
#     elif a == 60 and b == 60 and c == 60:
#         print("Equilateral")
# else:
#     print("Error")
# if (a+b+c) % ((a+b+c)//3) == 0:
#     print("Equilateral")
# elif

60
60
60
Equilateral

In [ ]:
# 10156번 과자
# 첫 번째 줄에는 과자 한 개의 가격 K,
# 사려고 하는 과자의 개수 N, 현재 동수가 가진 돈 M이 각각 공백을 사이에 두고 주어진다

K, N, M = map(int, input().split())
if (K*N) - M <= 0:
    print('0')
else:
    print((K*N) - M)

20 6 120
0

In [ ]:
# 10162번 전자레인지

time = int(input())

A = time // 300
B = (time%300) // 60
C = (time%300) % 60

if (C%10) != 0:
    print('-1')
else:
    print(A, B, C//10)

155
-1

In [ ]:
a = int(input())
car_num = list(map(int, input().split()))

print(car_num.count(a))

5
1 3 0 7 4
0

In [ ]:
month = int(input())
day = int(input())

if 1 <= month <= 12 and 1 <= day <= 31:
    if month == 2 and day < 18 or month < 2:
        print('Before')
    elif month == 2 and day > 18 or month > 2:
        print('After')
    elif month == 2 and day == 18:
        print('Special')

10
10
After

In [ ]:
# 11282번 한글
a = int(input())
print(chr(44031+a))

4146
백

In [ ]:
# 1009번 분산처리

case = int(input())
for _ in range(case):
    a, b = map(int, input().split())
    a = a%10
    if a==1 or a==5 or a==6:
        print(a)
    elif a==4 or a==9:
        if b%2 == 0:
            print(str(a**2)[-1])
        else:
            print(a)
    elif a==2 or a==3 or a==7 or a==8:
        if b%4 == 0:
            temp = a**4
            print(str(temp)[-1])
        else:
            temp =a**((b%4)) 
            print(str(temp)[-1])
        # if b%4 == 0:
        #     print(str(a**4)[-1])
        # else:
        #     temp = a**((b//4)+(b%4))
        #     print(str(temp)[-1])

        # if not b%4 == 0:
        #     print(b%4)
        #     print(a**(b%4))
        #     print(str(a**(b%4))[-1])
        # else:
        #     temp = a**((b//4)+(b%4))
        #     # print(a**((b%4)+1))
        #     print(str(temp)[-1])
    else:
        print('10')

1
44 10
6

In [ ]:
a, b = map(int, input().split())
c, d = map(int, input().split())

print(min(a+d,b+c))

1 0
0 1
0

In [ ]:
#11948번 과목선택
'''
JOI는 물리, 화학, 생물, 지구과학, 역사, 지리 총 6 과목의 시험을 봤다. 각 시험의 만점은 100점이다.
JOI는 물리, 화학, 생물, 지구과학 4과목 중에서 3 과목을 선택하고 역사, 지리 2 과목 중에서 한 과목을 선택한다.
시험 점수의 합이 가장 높게 나오도록 과목을 선택할 때, JOI가 선택한 과목의 시험 점수의 합을 구하시오.
'''

a_li = []
b_li = []
i = 0
for _ in range(6):
    i += 1
    score = int(input())
    if i <= 4:
        a_li.append(score)
    else:
        b_li.append(score)

a_li.remove(min(a_li)) # 가장 작은 수 제거
b_li.remove(min(b_li))

print(sum(a_li) + sum(b_li))

15
15
15
15
15
15
[15, 15, 15]
[15]
60

In [ ]:
#13866번 팀 나누기

a, b, c, d = map(int, input().split())

x, y = a+d, b+c
print(max(x, y) - min(x, y))

0 0 1 2
1

In [ ]:
n = int(input())
n_li = list(map(int, input().split()))

print(n_li)
cnt = 0
y_cost = 10
li = []
while True:
    cnt += 1
    if cnt == n:
        break

    if cnt % 30 == 0:
        y_cost += 10
        print(y_cost)
        li.append(y_cost)
    else:
        cnt % 30


print(li)

3
40 40 40
[40, 40, 40]
20
30
40
[20, 30, 40]

In [ ]:
# 1267번 핸드폰요금
n = int(input())
call_time = list(map(int, input().split()))


y_li, m_li = [], []
for i in range(n):
    y = m = 0
    y += ((call_time[i]//30) + 1)*10
    y_li.append(y)
    m += ((call_time[i]//60) + 1)*15
    m_li.append(m)

y = sum(y_li)
m = sum(m_li)
if y > m:
    print('M', m)
elif y < m:
    print('Y', y)
else:
    print('Y', 'M', min(y, m))

3
40 40 40
m 45
[20, 20, 20] [15, 15, 15]
60 45

In [ ]:
# 1247번 부호

cnt = 0
while True:
    cnt += 1
    if cnt > 3:
        break

    N = int(input())
    S = 0
    for _ in range(N):
        S += int(input())

    if S > 0:
        print('+')
    elif S < 0:
        print('-')
    else:
        print('0')

1
3
+
3
3
3
3
3
+
3
3
3
+

In [ ]:
# 1212번 8진수 2진수
n = input()
n = int(n, 8)

n = bin(n)
print(str(n)[2:])

314
11001100

In [ ]:
a = 120
a = str(a)
result = 0
if a.count('0'):
    result += 4
if a.count('1'):
    result += 2
if not a.count('0') and not a.count('1'):
    result += 3
print(result)
# len(str(a))

6

In [ ]:
# 1284번 집 주소

while True:
    a = str(input())
    if a == '0':
        break

    result = 0
    for i in range(len(a)):
        if a[i] == '0':
            result += 4
            # print('1: ', result)
        elif a[i] == '1':
            result += 2
            # print('2: ', result)
        else:
            result += 3
            # print('3: ', result)

    result += 1*(len(a)+1)

    print(result)

120
13
5611
15
100
14
0

In [ ]:
# 1547번 공

n = int(input())
li = ['1', '2', '3']

for _ in range(n):
    x, y = map(int, input().split())

    temp = li[x-1]
    li[x-1] = li[y-1]
    li[y-1] = temp
    
print(li.index('1')+1)

1
1 3
3

In [ ]:
x, y = map(int, input().split())

# a = (max(x, y)//4) - (min(x, y)//4) # 동서방향거리
# print((max(x, y)//4), (min(x, y)//4))
# print(a)
# b = (max(x, y)%4) - (min(x, y)%4)
# print((max(x, y)%4) - (min(x, y)%4))
# print(b)


a = (max(x, y)//4) - (min(x, y)//4)
b = (max(x, y)%4) - (min(x, y)%4)

if max(x, y)%4 ==0:
    a = 0 - (min(x, y)//4)
    b = (max(x, y)%4 + 3) - (min(x, y)%4)

elif min(x, y)%4 ==0:
    a = (max(x, y)//4) - (min(x, y)%4 + 3)
    print("d", a)
    b = (max(x, y)%4) - (min(x, y)%4 + 3)

elif max(x, y)%4 ==0 and min(x, y)%4 ==0:
    a = 0
    b = (max(x, y)%4 + 3) - (min(x, y)%4 + 3)

print(a)
print(b)
print(a+b)

# if max(x, y)%4 == 0:
#     temp = (max(x, y)%4) + 4

#     b = temp - (min(x, y)%4)

# elif min(x, y)%4 == 0:
#     temp = (min(x, y)%4) + 4

#     b = (max(x, y)%4) - temp
# else:
#     b = (max(x, y)%4) - (min(x, y)%4)

# print(a+b)
# b = (max(x, y)%4) - (min(x, y)%4)

8 11
d -1
-1
0
-1

In [ ]:
x, y = map(int, input().split())

# a = (y//4 + 1) - (x//4 + 1)
# print(a)
# b = y%4 - x%4
# print(b)

if x%4 == 0:
    a = (y//4) - (x//4 - 1)
    b = (x%4 + 4) - y%4
    # print("a1", a)
    # print("b1", b)
    # print("a+b1", a+b)
    print(abs(a+b))
elif y%4 == 0:
    a = (y//4 - 1) - (x//4)
    b = (y%4 + 4) - x%4
    # print("a2", a)
    # print("b2", b)
    # print("a+b2", a+b)
    print(abs(a+b))
else:
    a = (y//4 + 1) - (x//4 + 1)
    b = x%4 - y%4
    # print("a3", a)
    # print("b3", b)
    # print("a+b3", a+b)
    print(abs(a+b))
# print(a+b)

# a = (max(x, y)//4) - (min(x, y)//4)
# b = (max(x, y)%4) - (min(x, y)%4)

1000000 2000000
250005

In [ ]:
x, y = map(int, input().split())

# a = (y//4 + 1) - (x//4 + 1)
# print(a)
# b = y%4 - x%4
# print(b)

if x%4 == 0 and y%4 != 0:
    a = (y//4) - (x//4 - 1)
    # b = (x%4 + 4) - y%4
    b = (y-1)%4 - (x-1)%4
    print("a1", a)
    print("b1", b)
    # print("a+b1", a+b)
    print(abs(a+b))
elif y%4 == 0 and x%4 != 0:
    a = (y//4 - 1) - (x//4)
    # b = (y%4 + 4) - x%4
    b = (y-1)%4 - (x-1)%4
    
    # print("a2", a)
    # print("b2", b)
    # print("a+b2", a+b)
    print(abs(a)+abs(b))
elif x%4 == 0 and y%4 == 0:
    a = (y//4 - 1) - (x//4 - 1)
    # b = (y%4 + 4) - x%4
    b = (y-1)%4 - (x-1)%4
    print("a2", a)
    print("b2", b)
    # print("a+b2", a+b)
    print(abs(a)+abs(b))
else:
    a = (y//4 + 1) - (x//4 + 1)
    # b = x%4 - y%4
    b = (y-1)%4 - (x-1)%4
    # print("a3", a)
    # print("b3", b)
    # print("a+b3", a+b)
    print(abs(a)+abs(b))
# print(a+b)

# a = (max(x, y)//4) - (min(x, y)//4)
# b = (max(x, y)%4) - (min(x, y)%4)

20 39
a1 5
b1 -1
4

In [ ]:
# 1598번 꼬리를 무는 숫자 나열
x, y = map(int, input().split())

x -= 1
y -= 1

a = y//4 - x//4
b = y%4 - x%4
print(abs(a)+abs(b))

11 33
6
-2
8

In [ ]:
# 1598번 꼬리를 무는 숫자 나열
x, y = map(int, input().split())

if x%4 == 0 and y%4 != 0:
    a = (y//4) - (x//4 - 1)
    b = (y-1)%4 - (x-1)%4
    
    print(abs(a)+abs(b))
elif y%4 == 0 and x%4 != 0:
    a = (y//4 - 1) - (x//4)
    b = (y-1)%4 - (x-1)%4

    print(abs(a)+abs(b))

elif x%4 == 0 and y%4 == 0:
    a = (y//4 - 1) - (x//4 - 1)
    b = (y-1)%4 - (x-1)%4
    
    print(abs(a)+abs(b))

else:
    a = (y//4 + 1) - (x//4 + 1)
    b = (y-1)%4 - (x-1)%4

    print(abs(a)+abs(b))

7 32
7

In [ ]:
# 2061번 좋은 암호
L, K = map(int, input().split())
li = [1]*K
for i in range(2, int(K**0.5)+1):
    if li[i] == 1:
        for j in range(i+i, K, i):
            li[j] = 0

prime_li = []
for i in range(2, K):
    if li[i] == 1:
        prime_li.append(i)

good = 1
for n in prime_li:
    if L%n == 0:
        print("BAD", n)
        good = 0
        break
if good == 1:
    print("GOOD")

143 11
GOOD

In [ ]:
trash = int(input("쓰레기 종류를 입력하세요(1.플라스틱, 2.종이, 3. 스티로폼) : "))

if trash == 1:
    print('이 곳에 넣으세요.')
else:
    print('이곳에 넣으면 안됩니다. 다른곳에 넣어주세요.')

쓰레기 종류를 입력하세요(1.플라스틱, 2.종이, 3. 스티로폼) : 3
이곳에 넣으면 안됩니다. 다른곳에 넣어주세요.

In [ ]:
#1703번 생장점

while True:
    temp = list(map(int, input().split()))

    if temp[0] == 0:
        break
        
    leaf = 1
    if temp[0] == 1:
        leaf = leaf*temp[1] - temp[2]
        print(leaf)
    else:
        for i in range(1, temp[0]+1):
            leaf = leaf*temp[(i*2)-1] - temp[i*2]
        print(leaf)

4 5 0 5 1 5 2 5 101
489
0

In [ ]:
a, b = map(int, input().split())

sigma = b*(b+1) // 2
print(sigma)

-3 -2
1

In [ ]:
# 2506번 점수계산

n = int(input())

temp = list(map(int, input().split()))

cnt = 0
score = []
for i in range(n):
    if temp[i] == 1:
        cnt += 1
        score.append(cnt)
    else:
        cnt = 0
        score.append(cnt)

print(sum(score))

10
1 0 1 1 1 0 0 1 1 0
10

In [ ]:
# 2501번 약수 구하기

n, k = map(int, input().split())

li = []
for i in range(1, n+1):
    if n%i == 0:
        li.append(i)

li = sorted(li)
if len(li) < k:
    print('0')
else:
    print(li[k-1])

6 3
3
[1, 2, 3, 6]

In [ ]:
# 2490번 윷놀이

i = 0
while True:
    i += 1
    if i > 3:
        break

    li = list(map(int, input().split()))
    a = li.count(1) # 등
    b = li.count(0) # 배
    
    if a == 3 and b == 1: # 도
        print('A')
    elif a == 2 and b == 2: # 개
        print('B')
    elif a == 1 and b == 3: # 걸
        print('C')
    elif a == 0 and b == 4: # 윷
        print('D')
    elif a == 4 and b == 0: # 모
        print('E')

0 1 0 1
B
1 1 1 0
A
0 0 1 1
B

In [ ]:
# 2476번 주사위 게임
n = int(input())

li = []
for _ in range(n):
    a, b, c = map(int, input().split())

    if a == b and a == c and b == c:
        li.append(10000+a*1000)
    elif (a == b and b != c) or (b == c and a != b) or (a == c and b != c):
        if (a == b and b != c):
            li.append(1000+a*100)
        elif (b == c and a != b):
            li.append(1000+b*100)
        elif (a == c and b != c):
            li.append(1000+a*100)
    else:
        li.append(max(a, b, c)*100)

print(max(li))

3
3 3 5
3 5 3
5 3 3
[1300, 1300, 1300]
1300

In [ ]:
# 2476번 주사위 게임
n = int(input())

li = []
for _ in range(n):
    a, b, c = map(int, input().split())

    if a == b and a == c and b == c:
        li.append(10000+a*1000)
    elif a == b:
        li.append(1000+a*100)
    elif b == c:
        li.append(1000+b*100)
    elif a == c:
        li.append(1000+c*100)
    else:
        li.append(max(a, b, c)*100)
print(max(li))

3
3 3 5
2 5 6
2 2 2
12000

In [ ]:
# 2440번 별 찍기 -3
n = int(input())
cnt = list(range(1, n+1))
cnt.reverse()

for i in cnt:
    a = '*'*i
    print(a)

6
******
*****
****
***
**
*

In [ ]:
# 2441번 별 찍기 -4
n = int(input())
cnt = list(range(1, n+1))
# cnt.reverse()

for i in cnt:
    a = ' '*(i-1) + '*'*(n-i+1)
    
    print(a)

5
*****
 ****
  ***
   **
    *

In [ ]:
# 2446번 별 찍기 -9
n = int(input())

li = []
for i in range(n):
    a = ' '*(i) + '*'*((2*n-1)-(2*i)) + ' '*(i)
    li.append(a)

for i in li:
    i = i.rstrip(' ')
    print(i)

b = li[::-1]
del b[0]

for i in b:
    i = i.rstrip(' ')
    print(i)

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [ ]:
a, b = map(int, input().split())
print(a//b)
print(a%b)

7 -3
-3
-2

In [ ]:
import sys

# 평균은 넘겠지
C = int(input())
case = []
a = 0
for i in range(C):
    case.append(list(map(int, input().split())))

for ii in range(C):
    obj = case[ii]
    print("obj", obj)
    count = int(obj[0])
    print("count", count)
    SUM = sum(obj) - count
    print("SUM", SUM)
    mean = SUM/count
    print("mean", mean)
    for iii in range(1, len(obj)):
        score = obj[iii]
        print("score", score)
        if mean < score:
            a = a + 1
            print("a", a)
            N = round(a / count * 100, 3)
            print("N", N)
        else:
            N = round(a / count * 100, 3)
    print("{:.3f}%".format(N))
    a = 0

1
5 1 1 1 1 1
obj [5, 1, 1, 1, 1, 1]
count 5
SUM 5
mean 1.0
score 1
score 1
score 1
score 1
score 1
0.000%

In [ ]:
# 4344번

testCase = int(input())

for i in range(testCase):
    N = list(map(int, input().split()))   
    average = ((sum(N[1:]))/(N[0]))

    aver_list = []
    for j in range(1, len(N[1:])+1):
        if N[j] > average :
            a = N[j]
            aver_list.append(a)            
        result = (len(aver_list)/N[0])*(100)
        
    print('%.3f%%' % result)

1
5 1 1 1 1 1
0.000%

In [ ]:
# 1964번 오각형, 오각형, 오각형

n = int(input())

cnt = 2
li = []
for i in range(n):
    if i > 1:    
        cnt += 3

    li.append(cnt)

li[0] = 0
result = 5 + (n-1)*5 + sum(li)

print(result%45678)

3
22

In [ ]:
# 2163번 초콜릿 자르기

n, m = map(int, input().split())

result = (n-1) + n*(m-1)
print(result)

5 5
24

In [ ]:
# 2455번 지능형 기차

li = []
calcul = 0
for _ in range(4):
    n, m = map(int, input().split())
    calcul = (calcul - n) + m
    li.append(calcul)
print(max(li))

0 32
3 13
28 25
39 0
42

In [ ]:
# 2460번 지능형 기차2

li = []
calcul = 0
for _ in range(10):
    n, m = map(int, input().split())
    calcul = (calcul - n) + m
    li.append(calcul)
print(max(li))

In [ ]:
# 1075번 나누기

a = str(input())
b = int(input())

li = []
a_new = (a[:-2])
for i in range(100):
    if i < 10:
        temp = a_new + '0' + str(i)
    else:
        temp = a_new + str(i)
    
    if int(temp) % b == 0:
        li.append(temp)
print(min(li)[-2:])

428392
17
15

In [ ]:
# 1076번 저항

dic = {
    'black' : [0, 1],
    'brown' : [1, 10],
    'red' : [2, 100],
    'orange' : [3, 1000],
    'yellow' : [4, 10000],
    'green' : [5, 100000],
    'blue' : [6, 1000000],
    'violet' : [7, 10000000],
    'grey' : [8, 100000000],
    'white' : [9, 1000000000]
}

a = str(input())
b = str(input())
c = str(input())

temp = str(dic[a][0]) + str(dic[b][0])
result =  int(temp)*dic[c][1]
print(result)

white
white
white
99000000000

In [ ]:
# 1110번 하얀 칸

cnt = 0
for i in range(1, 8+1):
    word = str(input())
    
    for j in range(1, len(word)+1):
        
        if (i % 2 == 0) and (j % 2 == 0): # 짝수 흰색
            if word[j-1] in 'F':
                cnt += 1
            
        elif (i % 2 != 0) and (j % 2 != 0): # 홀수
            if word[j-1] in 'F':
                cnt += 1
print(cnt)

FFFFFFFF
FFFFFFFF
FFFFFFFF
FFFFFFFF
16

In [ ]:
# 1159번 농구 경기

n = int(input())
alpha = 'abcdefghijklmnopqrstuvwxyz'
alpha = list(alpha)

name_li = []
for _ in range(n):
    name = str(input())
    name_li.append(name[0])


alpha_li = []
for i in alpha:
    if name_li.count(i) >= 5:
        alpha_li.append(i)

if len(alpha_li) == 0:
    print('PREDAJA')

else:
    alpha_li.sort()
    for alpha in alpha_li:
        print(alpha, end='')

10
c
c
c
c
c
a
a
a
a
a
ac

In [ ]:
# pass~~!!

N, m, M, T, R = map(int, input().split())

cnt = 0
for i in range(1, N+1):
    
    m += T
    if m <= M:
        cnt += 1

    elif m > M:
        m -= R
        cnt += 1

print(cnt)

5 70 120 25 15
5

In [ ]:
# 1225번 곱셈

a, b = (map(str, input().split()))
a, b = list(a), list(b)

a, b = list(map(int, a)), list(map(int, b))

print(sum(a)*sum(b))

123 45
54

In [ ]:
# 1233번 주사위
a, b, c = map(int, input().split())
s1, s2, s3 = list(range(1, a+1)), list(range(1, b+1)), list(range(1, c+1))

li = []
for i in s1:
    for j in s2:
        for z in s3:
            li.append(i+j+z)

cnt_li = []
for i in range(1, max(li)+1):
    cnt_li.append(li.count(i))
    # print(i)
# print(cnt_li)
print(cnt_li.index(max(cnt_li))+1)

3 2 3
5

In [ ]:
# 1252번 이진수 덧셈

a, b = map(str, input().split())
a, b = int(a, 2), int(b, 2)

result = bin(a+b)

print(result[2:])

1001101 10010
1011111

In [ ]:
# 1264번 모음의 개수
li = ['a', 'e', 'i', 'o', 'u']

while True:
    cnt = 0
    word = str(input())
    if word == '#':
        break
        
    word = word.lower()
    for i in word:
        if i in li:
            cnt += 1
    print(cnt)

How are you today?
7
Quite well, thank you, how about yourself?
14
I live at number twenty four.
9
#

In [ ]:
N, L, D = map(int, input().split())

song = list(range(N*2*L))
# print(song)
# bell = 0
cnt = 0
play = []
silence = []
for i in range(N*2*L):
    # cnt += i
    if (i//L) % 2 == 0:
        play.append(i)
    elif (i//5) % 2 != 0:
        silence.append(i)

    # song += L
    # bell += D # 7 14 21 28
    # print(song)
silence.append(N*2*L)
print(play)
for i in silence:
    cnt += D
    if cnt in silence:
        print(cnt)
print(silence)

6 9 20
[0, 1, 2, 3, 4, 5, 6, 7, 8, 18, 19, 20, 21, 22, 23, 24, 25, 26, 36, 37, 38, 39, 40, 41, 42, 43, 44, 54, 55, 56, 57, 58, 59, 60, 61, 62, 72, 73, 74, 75, 76, 77, 78, 79, 80, 90, 91, 92, 93, 94, 95, 96, 97, 98]
[9, 15, 16, 17, 27, 28, 29, 35, 45, 46, 47, 48, 49, 65, 66, 67, 68, 69, 85, 86, 87, 88, 89, 99, 105, 106, 107, 108]

In [ ]:
# 1333번 부재중 전화
#몰라 ~

N, L, D = map(int, input().split())

cnt = 0
play = []
silence = []



for i in range(N):

    cnt += L 
    play.append(cnt)
    cnt += 5
    silence.append(cnt)

    # cnt += i
#     if (i//L) % 2 == 0:
#         play.append(i)
#     elif (i//5) % 2 != 0:
#         silence.append(i)

#     cnt += L
#     play.append(cnt)
# silence.append(N*2*L)
print(play)
# for i in silence:
#     cnt += D
#     if cnt in silence:
#         print(cnt)
print(silence)

4 5 20
[5, 15, 25, 35]
[10, 20, 30, 40]

In [ ]:
# 1350번 진짜 공간

n = int(input())
size_li = list(map(int, input().split()))
cluster = int(input())

cnt = 0
for size in size_li:
    if (size%cluster == 0):
        if not (size == 0):
            cnt += size//cluster
            # print("1:", cnt)
    else:
        if size <= cluster:
            if not (size == 0):
                cnt += 1
                # print("z:", cluster*cnt)
        else:
            cnt += (size//cluster+1)
            # print("2:", cnt)
print(cluster*cnt)

3
4096 33792 76800
1024
114688

In [ ]:
# 1362번 펫
i = 0

while True:
    life = True

    i += 1
    x, y = map(int, input().split())  # x : 적정체중, y : 실제 체중

    if x == 0 and y == 0:
        break

    while True:
        ctrl, n = map(str, input().split())

        if ctrl == '#' and n == '0':
            break

        if ctrl == 'E': # 운동
            y -= int(n)
        elif ctrl == 'F': # 먹이
            y += int(n)

        if y <= 0:
            life = False

    if life is False:
        print(i, 'RIP')
    else:
        if 0.5*x < y < 2*x:
            print(i, ':-)')
        else:
            print(i, ':-(')

100 100
F 10
F 10
E 20
# 0
1 :-)
100 100
E 100
# 0
2 RIP
0 0

In [ ]:
# 1371번 가장 많은 글자
import sys

# word = str(input())
word = str(sys.stdin.read())
alpha_li = list('abcdefghijklmnopqrstuvwxyz')

li = []
for alpha in alpha_li:
    li.append(word.count(alpha))
    # print(word.count(alpha))

max_li = max(li)

idx_li = []
for idx, i in enumerate(li):
    if i == max_li:
        idx_li.append(idx)
        # print(idx, i)

result_li = []
for idx in idx_li:
    result_li.append(alpha_li[idx])

result_li.sort()

for result in result_li:
    print(result, end='')

english is a west germanic language originating in england and is the first language for most people in the united kingdom the united states canada australia new zealand ireland and the anglophone caribbean it is used extensively as a second language and as an official language throughout the world especially in common wealth countries and in many international organizations
a

In [ ]:
# 2526번 싸이클

N, P = map(int, input().split())

result = N
li = [N]

while True:
    result = (result*N)%P
    if result not in li:
        li.append(result)
    else:
        break

for i in range(len(li)):

    if li[i] == result:
        break
        
print(len(li) - i)

67 31
3

In [ ]:
# 1193 분수찾기

cnt = 0
num1 = 1
num2 = 1
n = int(input())
for i in range(1, n+1):
    if i % 2 != 0:
        a = num1 + 3
        num1 = num1 + (a+4)

    for j in range(1, n+1):
        print(i, j)
        if j % 2 != 0:

3
1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 2869번 달팽이는 올라가고 싶다
import math

up, down, h = map(int, input().split())

result = (h-down)/(up-down)
print(math.ceil(result))

100 99 1000000000
999999901

In [ ]:
# 10250 ACM 호텔

case = int(input())

for _ in range(case):
    height, weight, num = map(int, input().split())

    a = num%height # 층수
    b = num//height + 1 # 호수

    if num%height == 0:
        a = height
        b = num//height

    print(a*100 + b)

1
6 12 12
602

In [ ]:
# 2775번 부녀회장이 될테야

testcase = int(input())

i = 0
while True:
    i += 1
    if i > testcase:
        break
    
    k_floor = []
    cnt = 0
    while True:
        cnt += 1


        k = int(input())
        n = int(input())
        # if cnt == k:
        #     break
        zero_floor = list(range(1, n+1))

        for i in range(len(zero_floor)):
            k_floor.append(sum(zero_floor[:i+1]))
            
        print(k_floor)
        
        next_floor = k_floor

        for i in range(len(next_floor)):
            k_floor.append(sum(next_floor[:i+1]))
        print(k_floor)

2
1
3
[1, 3, 6]
[1, 3, 6, 1, 4, 10]
2
3
[1, 3, 6, 1, 4, 10, 1, 3, 6]
[1, 3, 6, 1, 4, 10, 1, 3, 6, 1, 4, 10, 11, 15, 25, 26, 29, 35]

KeyboardInterrupt: ignored

In [ ]:
# 2775번 부녀회장이 될테야

testcase = int(input())

for _ in range(testcase):
    k = int(input())
    n = int(input())
    zero_floor = list(range(1, n+1))

    for _ in range(k):
    # while True:
        for i in range(1,n):
            zero_floor[i] = zero_floor[i] + zero_floor[i-1]

            # k_floor.append(sum(zero_floor[:i+1]))
            
    print(zero_floor[-1])
        
        # for i in range(len(next_floor)):
        #     new_floor.append(sum(next_floor[:i+1]))
        # print(new_floor)

        # k_floor = []

2
2
3
10
3
3
15

In [ ]:
# 2775번 부녀회장이 될테야

testcase = int(input())

for _ in range(testcase):
    k = int(input()) # 층수
    n = int(input()) # 호수
    zero_floor = list(range(1, n+1)) # 0층

    for _ in range(k):
        for idx in range(1, n):
            zero_floor[idx] = zero_floor[idx] + zero_floor[idx-1]
    print(zero_floor[-1])

2
3
4
35
2
4
20

In [ ]:
# 2839번 설탕 배달

num = int(input())
a, b = 3, 5 # 3kg, 5kg

if (num%5)%3 != 0:
    if (num%5)%3 == 0:
        print(num//3)
elif num%3 == 0:
    print(num//3)
    
else:
    if (num%5)%3 == 0:
        print(num//5 + ((num%5)//3))
# print(9%5%3)

9

In [ ]:
# 2839번 설탕 배달

num = int(input())

if (num%5 == 0) and (num%3 == 0):
    print(num//5)
elif (num%5)%3 == 0:
    print(num//5 + ((num%5)//3))
elif num%3 == 0:
    print(num//3)
elif num%5 == 0:
    print(num//5)
else:
    print('-1')

11
-1

In [ ]:
# 2839번 설탕 배달
num = int(input())

cnt = 0

while num >= 0:
    if num%5 == 0:
        print(num//5 + cnt)
        break
    
    num -= 3
    cnt += 1
else:
    print('-1')

2
-1

In [ ]:
# 1978번 소수 찾기
n = int(input())
n_li = list(map(int, input().split()))

answer = []

for i in n_li:
    result = 1
    for j in range(2, i):
        if i%j == 0:
            result = 0
    if result == True:
        if not i == 1:
            answer.append(i)
    
print(answer)
print(len(answer))

4
1 2 3 4 5 6 7
[2, 3, 5, 7]
4

In [ ]:
# 2581번 소수

a = int(input())
b = int(input())

li = list(range(a, b+1))
# print(li)

answer = []
for i in li:
    result = 1
    for j in range(2, i):
        if i%j == 0:
            result = 0
    if result == True:
        if not i == 1:
            answer.append(i)

if bool(answer) == True:
    print(sum(answer))
    print(min(answer))
else:
    print('-1')

610
800
19574
613

In [ ]:
# 11653번 소인수분해


n = int(input())
n_li = list(range(2, n+1))
# print(n_li)

li = []
while True:
    if n == 1:
        break

    for i in range(len(n_li)):
        if n%n_li[i] == 0:
            n = n//n_li[i]
            li.append(n_li[i])
            # print(n)
            break
for result in li:
    print(result)
# print(li)

72
2
2
2
3
3

In [ ]:
# 1929번 소수 구하기

a, b = map(int, input().split())

for i in range(a, b+1):
    result = True
    if i == 1:
        pass
        for j in range(2, int(i**0.5)+1):
            if i%j == 0:
                result = False
                break
    else:
        print(i)
# x, y = map(int, input().split())

# for i in range(x, y+1):
#     if i == 1: #1은 소수가 아뉘지!
#         continue
#     for j in range(2, int(i** 0.5)+1 ):
#         if i%j==0:
#             break
#     else:
#         print(i)

3 16
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [ ]:
# n=int(input())
a, b = map(int, input().split())
temp = [False]*(a) + [True]*(b-1)

primes=[]

for i in range(2,b+1):
  if temp[i]:
    primes.append(i)
    for j in range(2*i, b+1, i): 
        temp[j] = False
# print(temp)
# print(primes)
for result in primes:
    print(result)

3 16
3
4
5
7
11
13

In [ ]:
# 1929번 소수 구하기

x, y = map(int,input().split())
a = [True]*(y+1)
a[1] = False

for i in range(2, int(y**0.5)+1):
  if a[i]:
    for j in range(i*i, y+1, i):
        a[j] = False

for idx in range(x, y+1):
    if a[idx]:
        print(idx)

3 5
3
5

In [ ]:
# 4948번 베르트랑 공준

n = int(input())
a = [True]*(2*n+1)
a[1] = False

for i in range(2, int((2*n)**0.5)+1):
  if a[i]:
    for j in range(i*i, n+1, i):
        a[j] = False
        print(j)
print(a)
# for idx in range(b, 2*b + 1):
#     if a[idx]:
#         print(idx)

13
4
6
8
10
12
9
12
[True, False, True, True, False, True, False, True, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

In [ ]:
# 4948번 베르트랑 공준

n = 999999
temp = [False,False] + [True]*(n)

primes=[]
for i in range(2, n+1):
  if temp[i]:
    primes.append(i)
    for j in range(2*i, n+1, i): 
        temp[j] = False

while True:
    case = int(input())
    if case == 0:
        break
    li = []
    for idx in range(len(primes)):
        if case < primes[idx] <= 2*case:
            li.append(primes[idx])
    print(len(li))

1
1
10
4
13
3
100
21
0

In [ ]:
# 9020번 골드바흐의 추측
# import sys
n = 10001
temp = [False,False] + [True]*(n)

primes=[]
for i in range(2, n+1):
  if temp[i]:
    primes.append(i)
    for j in range(2*i, n+1, i): 
        temp[j] = False

# print(primes)
epoch = int(input())
for _ in range(epoch):
    temp = int(input())
    li = []
    li2 = []
    for i in range(len(primes)):
        for j in primes:
            if primes[i] + j == temp:
                if primes[i]-j >= 0:
                    # print(primes[i], j)
                    li.append(primes[i])
                    li2.append(j)
            # print(primes[i] + j)
    # print(li)
    # print(li2)
    result_li = []
    for i in range(len(li)):
        result_li.append(li[i] - li2[i])

    idx = result_li.index(min(result_li))

    print(min(li[idx], li2[idx]), max(li[idx], li2[idx]))

3
10
5 5
16
5 11
50
19 31

In [ ]:
# 1145 적어도 대부분의 배수
'''런타임 에러 (ValueError) 뜸'''
n_li = list(map(int, input().split()))

li = []
cnt = 0
while True:
    cnt += 1
    for i in n_li:
        li.append(i*cnt)
    if cnt > 100:
        break

cnt = {}
for i in li:
    try:
        cnt[i] += 1
    except:
        cnt[i] = 1

result_li = []
for k, v in cnt.items():
    if v >= 3:
        result_li.append(k)
# print(result_li)
print(min(result_li))

'''
인터넷에서 찾은 정답
arr = list(map(int, input().split()))

minNum = min(arr)
cnt = 0
while True:
    cnt = 0
    for i in range(len(arr)):
        if minNum % arr[i] == 0 :
            cnt += 1
    if cnt >= 3:
        print(minNum)
        break
    minNum += 1
'''

30 70 45 65 80
630

'\n인터넷에서 찾은 정답\narr = list(map(int, input().split()))\n\nminNum = min(arr)\ncnt = 0\nwhile True:\n    cnt = 0\n    for i in range(len(arr)):\n        if minNum % arr[i] == 0 :\n            cnt += 1\n    if cnt >= 3:\n        print(minNum)\n        break\n    minNum += 1\n'

In [ ]:
# 1268번 임시 반장 정하기

n = int(input())

li = []
for i in range(n):
    a = list(map(int, input().split()))
    # print(a[i][0])
    for j in range(len(a)):
        print(a[i][j])
        # a = list(map(int, input().split()))
        # print(a[i][j])

3
1 2 3

TypeError: ignored

In [ ]:
# 7568번 덩치

n = int(input())

li = {}
for _ in range(n):
    a, b = map(int, input().split())
    try:
        li[a] = b
    except:
        li[a] = b
    
print(li)

3
1 2
1 2
3 4
{1: 2, 3: 4}

In [ ]:
n = int(input())

li = []
for i in range(n):
    weight, height = map(int, input().split())
    li.append((weight, height))
print(li)
for i in li:
    for j in li:
        print(i[0], j)
# cnt = 0
# for i in range(len(w_li)):
#     w_temp = w_li[i]
#     if w_temp > w_li[i]:
#         print(w_li[i])
#     # if w_li[i] >= w_li[i+1] and h_li[i] >= h_li[i+1]:
#     #     cnt += 1
#     #     print(cnt)

2
1 2
3 4
[(1, 2), (3, 4)]
1 (1, 2)
1 (3, 4)
3 (1, 2)
3 (3, 4)

In [ ]:
# 1059번 좋은 구간

set_len = int(input())
set_li = list(map(int, input().split()))
n = int(input())

cnt = 0
if n not in set_li and set_len != 1 and (min(set_li) <= n <= max(set_li)):
    a_li = [set_li[i] for i in range(set_len) if set_li[i] < n]
    b_li = [set_li[i] for i in range(set_len) if set_li[i] > n]

    # print('a_li', a_li)
    # print('b_li', b_li)
    a, b = max(a_li), min(b_li)
    # print('a',a, 'b',b)

    temp = [i for i in range(a+1, b)]
    # print(temp)
    if len(temp) == 1:
        cnt = 1
    else:
        for i in temp:
            for j in temp:
                if i < j:
                    if i <= n <= j:
                        # print(i, j)
                        cnt += 1
    print(cnt)
    
else:
    cnt = 0
    print(cnt)

1
500
1
0

In [ ]:
# 1059번 좋은 구간 

L = int(input())
s_li = list(map(int, input().split()))
s_li = [0] + s_li
s_li.sort()

# print(s_li)
n = int(input())

cnt = 0
for i in range(L):
    if n in s_li:
        cnt = 0
    elif s_li[i] < n and n < s_li[i+1]:
        a = list(range(s_li[i]+1, s_li[i+1]))
        # print(a)
        for j in a:
            for z in a:
                if j < z:
                    if j <= n <= z:
                        # print(j, z)
                        cnt += 1
print(cnt)

1
500
1
498

In [ ]:
# 1059번 좋은 구간 (실패)

set_len = int(input())

set_li = list(map(int, input().split()))
n = int(input())

if n not in set_li:
    a_li = []
    for i in range(set_len)
    a_li = [set_li[i] for i in range(set_len) if set_li[i] < n]
    b_li = [set_li[i] for i in range(set_len) if set_li[i] > n]

    # print(a_li)
    a, b = max(a_li), min(b_li)
    # print(a, b)

    temp = [i for i in range(a+1, b)]
    # print(temp)

    cnt = 0
    for i in temp:
        for j in temp:
            if i < j:
                if i <= n <= j:
                    # print(i, j)
                    cnt += 1
    print(cnt)

else:
    print('0')

In [ ]:
# 7568번 덩치
n = int(input())

arr = [list(map(int, input().split())) for i in range(n)]

for i in arr:
    cnt = 1
    for j in arr:
        if i[0] < j[0] and i[1] < j[1]:
            cnt +=1
    
        print(i[0] < j[0])
        print(i[0], i[1], "d", j[0], j[1])
    print(cnt)
        # print(i, j)

2
1 2
3 4
False
1 2 d 1 2
True
1 2 d 3 4
2
False
3 4 d 1 2
False
3 4 d 3 4
1

In [ ]:
# 1094번 막대기

x = int(input())
n_li = [64, 32, 16, 8, 4, 2, 1]

li = [n_li[i] for i in range(len(n_li)) if n_li[i] <= x]
# print(li)

a = 0
cnt = 0
for i in li:
    if a+i <= x:
        a += i
        cnt += 1
        print(a, cnt)
print(cnt)

48
32 1
48 2
2

In [ ]:
# 2609번 최대공약수와 최소공배수

def max_cnt(cnt, a, b):
    while True:
        cnt += 1
        if cnt%a == 0 and cnt%b == 0:
            max_cnt = cnt
            break
    min_cnt = (a*b)//max_cnt
    return max_cnt, min_cnt

if __name__ == '__main__':

    a, b = map(int, input().split())
    cnt = 0

    max_cnt, min_cnt = max_cnt(cnt, a, b)
    print(min_cnt, max_cnt, sep='\n')

24 18
6
72

In [ ]:
# 1673번 치킨 쿠폰

n, k = map(int, input().split())

coupon = 0
cnt = 0
while True:
    cnt += 1
    coupon += cnt//k
    
    # for coupon in range(1, n+1):